.breweryCard, .singleBrewery {
    margin: 4%;
    max-width: 70%;
    align-items: center;
}

.cardTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
  }